@font-face {
    font-family: 'Sphere Next';
    src: url('SphereNextThin.woff2') format('woff2'),
        url('SphereNextThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MintSans';
    src: url('MintSansRegular.woff2') format('woff2'),
        url('MintSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

